html{-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:-ms-autohiding-scrollbar}
body{background-color:#434343}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}
li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}

.ag7-main{
	padding-top: 60px;
	width: 830px;
	margin: 0 auto;
	padding-bottom: 30px
}


.ag7-main .phone-index-banner{display:none}
.ag7-bannerslide{
	position: relative;
	margin-bottom: 10px
}
.ag7-bannerslide .slidebox{position:relative;height:498px}
.ag7-bannerslide .slidebox li{display:block;position:absolute;width:100%;height:100%;left:0;top:0}
.ag7-bannerslide a img{display:block;width:750px;height:498px}
.ag7-bannerslide .slideinfo{width:100%;position:absolute;left:0;bottom:0;z-index:10}
.ag7-bannerslide .slidetitle{width:750px;color:#fff;background:rgba(0,0,0,.2)}
.ag7-bannerslide .slidetitle h2{font-size:18px;height:40px;line-height:40px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:0 15px}
.ag7-bannerslide .slidelist{position:absolute;right:0;bottom:0;width:80px;height:498px;color:#fff;font-size:16px;background-color:#222}
.ag7-bannerslide .slidelist ul{position:absolute;z-index:10;width:100%;text-align:center}
.ag7-bannerslide .slidelist ul li{width:100%;line-height:36px;margin:10px 0 15px;cursor:pointer}
.ag7-bannerslide .slidelist .mask{width:90px;height:36px;position:absolute;left:-10px;top:10px;background:url(../images/mask_01.png) no-repeat center center;display:block}
